QWidget {
    font-family: $font_family;
    font-size: $font_size;
    font-weight: $font_weight;
    color: $font_color;
}

QToolButton {
    background-color: $widget_bgd;
    padding: 0px $radius 2px $radius;
    border: 1px solid $border_color;

    color: $font_color;
}


QToolButton:hover {
    background-color: $hover;
}


QToolButton:pressed {
    background-color: $pressed;
}


QToolButton:checked {
    background-color: $checked;
}


QToolButton:disabled {
    background-color: $disabled;
    color: $font_color_disabled;
}

QToolButton:disabled:checked {
    background-color: $disabled_checked;
    color: $font_color_disabled;
}



QToolButton#segment-left {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    border-right-width: 0;
}

QToolButton#segment-center {
    border-radius: 0;
    border-right-width: 0;
}

QToolButton#segment-right {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

