QPushButton {
    background-color: $widget_bgd;
    border: none;
    border-radius: $radius;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;

    font-family: $font_family;
    font-size: $font_size;
    color: $font_color;
}


QPushButton:hover {
    background-color: $hover;
    color: $font_color;
}


QPushButton:pressed {
    background-color: $pressed;
    color: $font_color;
}


QPushButton:checked {
    background-color: $checked;
    color: $font_color;
}


QPushButton:disabled {
    background-color: $disabled;
    color: $font_color_disabled;
}


QPushButton:disabled:checked {
    background-color: $hover;
    color: $font_color_disabled;
}

