/* top, right, bottom, left */
QFrame {
    background-color: $window_bgd;
    background: $window_bgd;
}


QComboBox {
    background-color: $widget_bgd;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

    border-radius: $radius;
    padding-left: $padding_left;
}


QComboBox:hover {
    background-color: $hover_bgd;
}


QComboBox:on {
    background-color: $hover_bgd;

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


QComboBox::down-arrow {
    width: 0px;
    height: 0px;
}


QComboBox::drop-down {
    width: 0px;
    border: none;
}

