/* top, right, bottom, left */
QFrame {
    /* background-color: $window_bgd;
    background: $window_bgd; */
    background-color: transparent;
    background: transparent;

    color: $font_color;
    font-family: $font_family;
    font-size: $font_size;
}

QComboBox {
    background-color: $widget_bgd;

    border-radius: $radius;
    padding-left: $padding_left;

    font-family: $font_family;
    font-size: $font_size;
    color: $font_color;

    selection-background-color: $selection;
    selection-color: $font_color;
}


QComboBox:disabled {
    background-color: $disabled;
    color: $font_color_disabled;
}


QComboBox:read-only:hover {
    background-color: $hover;
}


QComboBox:on {
    background-color: $hover;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

QComboBox::drop-down {
    width: 32px;
    border: none;
}


QComboBox::down-arrow {
    width: 32px;
    height: 0px;
}


/* For debug: */
QComboBox QLineEdit{
    margin-bottom: 2px;
    color: green;

}
QComboBox QLineEdit[editing="true"] {
    border: 2px solid red;
}
