/* top, right, bottom, left */

QComboBox QLineEdit {
    /* background: $widget_bgd; */
    background: white;
    color: red;

    border: 3px solid red;

    border-radius: $radius;
    /* padding: 0px;
    margin: 0px; */
    /* padding: 0px $padding_right 1px 0px; */
    /* margin: 0px $padding_right 1px 0px; */
}

/* when focused (user editing) */
QComboBox QLineEdit:focus {
    background-color: red;
}


/* optional hover effect */
QComboBox QLineEdit:hover {
    border: 2px solid red;
}

/* read-only version (non-editable combobox) */
QComboBox  QLineEdit:read-only {
    border: 2px solid transparent;
    background-color: green;
}


QLineEdit:focus { border: 2px solid red; }

QComboBox QLineEdit[editing="true"] {
    border: 2px solid red; /* editing color */
}
