/* top, right, bottom, left */

QListView {
    /* background: $window_bgd; */
    background: transparent;
    border: 1px solid $border_color;
    outline: none;
    margin: 0px;
    padding: 0px;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;
}

QListView::item {
    border-radius: 0px;
    padding: 2px 0px 4px $padding_left;
}

QListView::item:hover {
    background-color: $selection_bgd;
}

QListView::item:selected {
    background-color: $selection_bgd;
}
