/* top, right, bottom, left */
QGroupBox {
    background-color: $widget_bgd;
    border: 1px solid $border_color;
    border-radius: $radius;
    margin-top: 12px;

    color: $font_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;
}


QGroupBox:disabled {
    border: 1px solid $font_color_disabled;
}
/*
Linux, no need for that, other platforms?
QGroupBox::title {
    background-color: $widget_bgd;
    border-radius: 0px;

    color: $font_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

    subcontrol-origin: margin;
    subcontrol-position: top left;

    left: $padding;
    top: $radius;

    margin: 0px;
    padding-top: 0px $title_margins 1px $title_margins;
}
*/

QGroupBox:disabled {
    color: $font_color_disabled;
    background-color: $widget_disabled;
}

QGroupBox::title:disabled {
    background-color: $window_bgd;
}
