/* top, right, bottom, left */
QGroupBox {
    background-color: $widget_bgd;

    padding: 0px $padding 0 $padding;
    border: 1px solid $border_color;
    border-radius: $radius;
    margin-top: 12px;

    color: $font_color;
}


QGroupBox:disabled {
    border: 1px solid $font_color_disabled;
}


QGroupBox:disabled {
    background-color: $widget_disabled;
    color: $font_color_disabled;
}


QGroupBox::title:disabled {
    background-color: $window_bgd;
}
