QFrame {
    background-color: $window_bgd;
    background: $window_bgd;
    /* background-color: #00ff37;
    background: #00ff37; */
    /* border: none; */
    /* border-radius: $radius; */

    color: #d4d4d8;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

}


QComboBox {
    background-color: $widget_bgd;

    color: #d4d4d8;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

    border-radius: $radius;
    padding-left: $padding_left;
}


QComboBox:on {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    /* Linux */
    background-color: $hover_bgd;
}


QComboBox:hover {
    background-color: $hover_bgd;
}

QComboBox::down-arrow {
    width: 0px;
    height: 0px;
}
QComboBox::drop-down {
    width: 0px;
    border: none;
}

