/* top, right, bottom, left */

QComboBox QLineEdit {
    background: $widget_bgd;
    border: none;
    padding: 0px $padding_right 0px $padding_left;
    margin: 0px $padding_right 0px $padding_left;
}


QComboBox QLineEdit:read-only {
    background: $widget_bgd;
    border: none;
    padding: 0px $padding_right 0px $padding_left;
    margin: 0px $padding_right 0px $padding_left;
}

