/* top, right, bottom, left */

QComboBox QLineEdit {
    background: $widget_bgd;
    selection-background-color: $selected_text;

    border: none;
    padding: 0px $padding_right 1px 0px;
    /* margin: 0px $padding_right 1px 0px; */
}


/*
QComboBox QLineEdit:read-only {
}
 */
