QDoubleSpinBox {
    background-color: $widget_bgd;

    border-radius: $radius;
    padding: 0px $padding_right 2px 0px;

    selection-background-color: yellow;
    /* selection-background-color: transparent; */
    selection-color: $text_color;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;
}


/* QDoubleSpinBox:focus { */
    /* border-color: $selection_bgd; */
    /* background-color: $hover_bgd; */
/* } */


QDoubleSpinBox:hover {
    background-color: $hover_bgd;
}

QDoubleSpinBox:read-only:hover {
/* QDoubleSpinBox:read-only { */
    background-color: $widget_bgd;
}


QDoubleSpinBox:disabled {
    background-color: $disabled_bgd;
}

