/* top, right, bottom, left */

QLineEdit {
    background-color: $widget_bgd;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

    border: 1px solid $border_color;
    border-radius: $radius;

    selection-background-color: $selected_text;

    padding-left: $radius;
    padding-bottom: 2px;

}


QLineEdit:read-only,
QLineEdit:read-only:focus,
QLineEdit:read-only:hover {
    background-color: $widget_bgd;
    border: 1px solid $border_color;
}


QLineEdit:focus {
    color: $text_color;
    border: 1px solid $selected;

}

QLineEdit:hover {
    background-color: $hover_bgd;
}


QLineEdit:disabled {
    background-color: $disabled_bgd;
    color: $disabled_text;
}

