/* top, right, bottom, left */

QPlainTextEdit {
    background-color: $widget_bgd;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

    border: 1px solid $border_color;
    border-radius: $radius;

    selection-background-color: $selected_text;

    padding-left: $radius;
    padding-bottom: 2px;

}


QPlainTextEdit:read-only,
QPlainTextEdit:read-only:focus,
QPlainTextEdit:read-only:hover {
    background-color: $widget_bgd;
    border: 1px solid $border_color;
}


QPlainTextEdit:focus {
    color: $text_color;
    border: 1px solid $editing_border;

}

QPlainTextEdit:hover {
    background-color: $hover_bgd;
}


QPlainTextEdit:disabled {
    background-color: $disabled_bgd;
    color: $disabled_text;
}

