/* top, right, bottom, left */

QPlainTextEdit {
    background-color: $widget_bgd;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;

    border: 1px solid $border_color;
    border-radius: 12px;

    selection-background-color: $selected_text;

    padding-left: $radius;
    padding-bottom: 2px;
    padding-top: 0px;
    padding-right: 12px;

}


QPlainTextEdit:read-only,
QPlainTextEdit:read-only:focus,
QPlainTextEdit:read-only:hover {
    background-color: $widget_bgd;
    border: none;
}


QPlainTextEdit:focus {
    color: $text_color;
    border: 1px solid $selected;

}

/* QPlainTextEdit:hover {
    background-color: $hover_bgd;
} */


QPlainTextEdit:disabled {
    background-color: $disabled_bgd;
    color: $disabled_text;
}

