QSpinBox,
QDoubleSpinBox {
    background-color: $widget_bgd;

    border-radius: $radius;
    margin: 0px;
    padding: 0px $padding_right 2px 0px;

    selection-background-color: $selection_bgd;
    /* selection-background-color: transparent; */
    selection-color: $text_color;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;
}


QSpinBox:read-only:hover,
QDoubleSpinBox:read-only:hover {
/* QDoubleSpinBox:read-only { */
    background-color: $widget_bgd;
}


QSpinBox:disabled,
QDoubleSpinBox:disabled {
    background-color: $disabled_bgd;
}


HSpinBox[hover="true"],
HDoubleSpinBox[hover="true"] {
    background-color: $hover_bgd;
}
