QLabel {
    background-color: transparent;
    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
}


QLabel:disabled {
    color: $disabled_text;
}
