QLabel {
    background-color: transparent;
    margin: 0px;
    padding: 0px;

    font-family: $font_family;
    font-size: $font_size;
    font-weight: $font_weight;
    font-style: $font_style;
    color: $font_color;
}


QLabel:disabled {
    color: $font_color_disabled;
}
