QLabel {
    background-color: transparent;
    color: $font_color;
    font-family: $font_family;
    font-size: $font_size;
    margin: 0px;
    padding: 0px;
}


QLabel:disabled {
    color: $font_color_disabled;
}
