/* top, right, bottom, left */

QLineEdit {
    background-color: $widget_bgd;

    border-radius: $radius;
    border: 1px solid $border_color;

    padding: 0px $padding_right 2px $padding_left;

    color: $font_color;
    font-family: $font_family;
    font-size: $font_size;

    selection-background-color: $selection;
}


QLineEdit:read-only,
QLineEdit:read-only:focus,
QLineEdit:read-only:hover {
    background-color: $widget_bgd;
    border: 1px solid $border_color;
}


QLineEdit:focus {
    color: $font_color;
    border: 1px solid $border_edition;
}


QLineEdit:hover {
    background-color: $hover;
}


QLineEdit:disabled {
    background-color: $disabled;
    color: $font_color_disabled;
}

