/* top, right, bottom, left */

QPlainTextEdit {
    background-color: $widget_bgd;

    border-radius: $radius;
    border: 1px solid $border_color;

    padding: 0px $padding_right 2px $padding_left;

    font-family: $font_family;
    font-size: $font_size;
    color: $font_color;

    selection-background-color: $selection;
}


QPlainTextEdit:read-only,
QPlainTextEdit:read-only:focus,
QPlainTextEdit:read-only:hover {
    background-color: $widget_bgd;
    /* border: none; */
}


QPlainTextEdit:focus {
    color: $font_color;
    border: 1px solid $border_edition;
}


QPlainTextEdit:hover {
    background-color: $hover;
}


QPlainTextEdit:disabled {
    background-color: $disabled;
    color: $font_color_disabled;
}

