QSpinBox,
QDoubleSpinBox {
    background-color: $widget_bgd;

    border-radius: $radius;
    margin: 0px;
    /* margin-right: $margin_right; */
    padding: 0px $padding_right 2px 0px;

    selection-background-color: $selection_bgd;
    /* selection-background-color: transparent; */
    selection-color: $text_color;

    color: $text_color;
    font-family: "Segoe UI", "Sans Serif";
    font-size: 10pt;
    min-width: 40px;
    border: 1px solid $widget_bgd;
}


/* QSpinBox:read-only,
QDoubleSpinBox:read-only {
    background-color: $widget_bgd;
    border: 1px solid $widget_bgd;
} */



QSpinBox:disabled,
QDoubleSpinBox:disabled {
    background-color: $disabled_bgd;
    color: $disabled_text;
    border: 1px solid $disabled_bgd;
}


HSpinBox[hover="true"],
HDoubleSpinBox[hover="true"] {
    background-color: $hover_bgd;
    border: 1px solid $hover_bgd;
}


QSpinBox:focus,
QDoubleSpinBox:focus{
    border: 1px solid $selected;
}

/* QSpinBox:read-only:focus,
QDoubleSpinBox:read-only:focus,
QSpinBox:read-only:hover,
QDoubleSpinBox:read-only:hover,
QSpinBox:read-only[hover="true"],
QDoubleSpinBox:read-only[hover="true"] {
    background-color: $widget_bgd;
    border: none;
} */
