QSpinBox,
QDoubleSpinBox {
    background-color: $widget_bgd;

    min-width: 40px;
    border: 1px solid $border_color;
    border-radius: $radius;

    margin: 0px;
    padding: 0px $padding_right 2px 0px;

    font-family: $font_family;
    font-size: $font_size;
    font-weight: $font_weight;
    color: $font_color;

    selection-background-color: $selection;
}


HSpinBox[editing="true"],
HDoubleSpinBox[editing="true"] {
    border: 1px solid $border_edition;
}


HSpinBox[editing="false"],
HDoubleSpinBox[editing="false"] {
    border: 1px solid $border_color;
}


QSpinBox:disabled,
QDoubleSpinBox:disabled {
    background-color: $disabled;
    color: $font_color_disabled;
}


QSpinBox:read-only,
QDoubleSpinBox:read-only {
    background-color: $widget_bgd;
    border: 1px solid $border_color;
}


HSpinBox[focused="true"],
HDoubleSpinBox[focused="true"] {
    border: 1px solid $border_read_only_color;
}

